name: Build

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  linux:
    name: Linux Build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup rust
        run: rustup update 1.89 && rustup default 1.89

      - name: Build
        run: |
          mkdir dist
          cargo build --package=rsfn-file --bin=rsfnfile --release
          cp target/release/rsfnfile dist/rsfnfile
          strip dist/rsfnfile

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: linux-build
          path: dist
          if-no-files-found: error

  macos:
    name: macOS Build
    runs-on: macos-14
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup rust
        run: rustup update 1.89 && rustup default 1.89

      - name: Build
        run: |
          mkdir dist
          cargo build --package=rsfn-file --bin=rsfnfile --release
          cp target/release/rsfnfile dist/rsfnfile
          strip dist/rsfnfile

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: macos-build
          path: dist
          if-no-files-found: error

  windows:
    name: Windows Build
    runs-on: windows-2022
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup rust
        run: rustup update 1.89 && rustup default 1.89

      - name: Build
        run: |
          md dist
          cargo build --package=rsfn-file --bin=rsfnfile --release
          copy target/release/rsfnfile.exe dist/rsfnfile.exe

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: windows-build
          path: dist
          if-no-files-found: error
